doctype html
html(lang="en")
    - const pageName = "Signup";
    include header/head.pug
    body 
        h1 Regístrate!! 
        form(action="/signup", method="post") 
            input(type="email" name="username" placeholder="Introduzca su email")
            input(type="password" name="password" placeholder="Introduzca su contraseña")
            button(type="submit") Registrar
        form(action="/redirect-login", method="post") 
            button(type="submit") Iniciar sesión